/*----------------------------------Start of identical to master.css */

*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;

}
main {
  margin: 0em 8em;
}

/* controls p in main*/
main p {
  font-size: 1.1em;
  line-height: 1.5em;
}
.p-italic {
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
}
/* controls p in main*/




/* Start of typography sizes */
html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  background-color: #FBFBFB;
  color: #333333;
  font-family: 'calluna-sans',sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  /* max-width: 560px; */
}
h1, .h1 {
  font-family: 'jaf-lapture-display','georgia', serif;
  font-weight: 400;
  font-size: 2.83333333em;
  line-height: 1.05882353em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'jaf-lapture-display','georgia', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'calluna-sans',sans-serif;
  font-weight: 400;
  font-size: 1.38888889em;
  line-height: 1.5em;
  margin-top: 1.08em;
  margin-bottom: 0.44em;
}
h4, .h4 {
  font-family: 'calluna-sans', sans-serif;
  font-weight: 600;
  font-size: 1.22em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: .9em;
  font-style: 'calluna-sans', sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 4em;
}
/* End of typography sizes */





/*------- Start of logo and nav styling -------*/
.navmenu {
  /* border: 1px solid #BDBDBD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.67em;
  padding: 1.33em 4em;
}
.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 38px;
  width: 61px;
}

.nav-main {
  width: 200px;
}
.menu {
  /* border-bottom: 1px solid #E6E6E6; */
  margin-bottom: 0em;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  font-size: 0.78em;
  letter-spacing: 0.02em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.menu a:hover {
  border-bottom: 1px solid #DA9218;
}
/*------- End of logo and nav styling -------*/






/* ------Start of Footer Styling------ */
.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 6.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.contactlinks {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  letter-spacing: 0.02em;
  font-size: 0.78em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.contact-link a:hover {
  border-bottom: 1px solid #DA9218;
}


.site-credit {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 0.9em;
  margin-top: 1em;
}

/* ------End of Footer Styling------ */

/*----------------------------------End of identical to master.css */



/* ----------------------------------Start of main styling----- */

main {
  padding-top: 4em;
}


/*------- Start of hero styling -------*/
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.herologo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.herologo {
  width: 100%;
}

/*------- End of hero styling -------*/



.about-sectionlabel {
  margin-top: 12em;
  margin-bottom: 0em;
  color: #333333;
  font-size: 0.78em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
}


/* -------------------------------------Start of text styling----- */

/* Centers main text */
.about-primarycontent {
  margin: auto;
  max-width: 696px;
}
/* Centers main text */

p > span {
  font-style: italic;
}

.img-centered {
  display: block;
  padding-top: 4em;
  margin: auto;
}
.img-fullwidth{
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 1.167em;
  padding-bottom: 3.11em;
}


.img2up-container, .img2upflip-container {
  padding-top: 0.5em;
  padding-bottom: 1.33em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.img2up, .img2upflip {
  margin-top: 1.67em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
}


.text-center {
  text-align: center;
}



.pullquote {
  font-family: 'jaf-lapture-display','georgia', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 1em;
  margin-bottom: 1.2em;
}



.link-bio {
  color: #333333;
}

.link-ref {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #BDBDBD;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-ref:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
.link-work {
  padding-bottom: 0.15em;
  text-decoration: none;
  color: #333333;
  font-size: 0.78em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-work:hover {
  border-bottom: 1px solid #DA9218;
}


.closing {
  padding-top: 2.67em;
}
.closing h2 {
  font-style: italic;
  margin-bottom: 0.35em;
}



/* -------------------------------------End of text styling----- */



@media only screen and (min-width:1281px) {
  .container {
    /* border: 1px solid grey; */
    margin: auto;
  }
  .herologo-container {
    margin-top: 2em;
    margin-bottom: 0em;
  }
}

/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .container {
  border: 1px solid blue;
  } */
  main {
    margin: 0em 8em;
  }
  .herologo-container {
    margin-top: 2em;
    margin-bottom: 0em;
  }
  .about-sectionlabel {
    margin-top: 8em;
  }
  .pullquote {
    margin-top: 1em;
  }
}

/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
  border: 1px solid red;
  } */
  main {
    margin: 0em 4em;
    padding-top: 2.67em;
  }

  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.5em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.5em;
    font-style: italic;
  }
  /* controls p in main*/

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 34px;
    width: 54.58px;
  }
  .herologo-container {
    margin-top: 2em;
    margin-bottom: 0em;
  }
  .herologo {
    width: 90%;
  }
  header {
    margin-top: 1.34em;
    padding: 1.33em 2.67em;
  }

  .navmenu {
    margin-top: 1.34em;
    padding: 1.33em 2.67em;
  }

  .img-centered {
    margin: auto;
  }
  .about-sectionlabel {
    margin-top: 8em;
  }
  .pullquote {
    margin-top: 1em;
  }
}

/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* .container {
  border: 1px solid green;
  } */

  main {
    padding-top: 0em;
    margin: 1.67em 2.67em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
    /* margin-bottom: 1.75em; */
  }
  .herologo-container {
    margin-top: 1em;
    margin-bottom: 0em;
  }
  .herologo {
    width: 90%;
  }

  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.5em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.5em;
    font-style: italic;
  }
  /* controls p in main*/

  .navmenu {
    /* border: 1px solid #BDBDBD; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding: 2em 2em;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding-top: 2.67em;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .img2upflip-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img2upflip {
    width: 100%;
  }


  .img-centered {
    margin: auto;
    width: 80%;
  }
  .pullquote {
    font-size: 1.5em;
    margin-top: 1em;
  }
  .site-credit {
    text-align: center;
  }
  .about-sectionlabel {
    margin-top: 8em;
  }

}

/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {

  /* .container {
  border: 1px solid purple;
  } */

  main {
    padding-top: 0em;
    margin: 0em 1em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
    margin-bottom: 1.5em;
  }
  .herologo-container {
    margin-top: 1em;
    margin-bottom: 0em;
  }
  .herologo {
    width: 100%;
  }


  .img2upflip-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img2upflip {
    width: 100%;
  }


  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.5em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.5em;
    font-style: italic;
  }
  /* controls p in main*/

  figcaption {
    font-size: 0.78em;
    line-height: 1.5em;
    margin-bottom: 0.7em;
  }

  .navmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0em;
    padding-left: 1em;
    padding-top: 1em;
  }
  .nav-main {
    margin-top: 4em;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding-top: 2.67em;
  }




  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-centered {
    width: 100%;
  }
  .site-credit {
    text-align: center;
  }
  .about-sectionlabel {
    margin-top: 8em;
  }
  .pullquote {
    font-size: 1.5em;
    margin-top: 1em;

  }
}
