/*--------------------------------------Start of identical to master.css */


*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
}
main, .main {
  margin: 0em 8em;
}


/* ------Start of typography sizes------ */

html, .root {
  font-size: 18px;
  line-height: 26px;
}
body, .article {
  background-color: #FBFBFB;
  color: #333333;
  font-family: 'Alegreya Sans',sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}
h1, .h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 2.83333333em;
  line-height: 1.05882353em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 1.75em;
  margin-bottom: 1em;

}
h3, .h3 {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-size: 1.38888889em;
  line-height: 1.4em;
  margin-top: 1.3em;
  margin-bottom: 0.75em;
}
h4, .h4 {
  font-family: 'Alegreya Sans',sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h5, .h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.75em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: .9em;
  line-height: 1.4em;
  font-style: 'Alegreya Sans',sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 3em;
}
.fig-left {
  font-size: .9em;
  line-height: 1.4em;
  font-style: 'Alegreya Sans',sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 2em;
}
.fig-numdesc {
  font-size: .9em;
  line-height: 1.4em;
  font-style: 'Alegreya Sans',sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  margin-top: 0em;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
}

.small-caption {
  font-size: 0.9em;
  font-style: normal;
  color: #333333;
}


.small-caption-ondark,
.small-caption-ondark > .link-ref {
  margin-top: 3em;
  font-size: 16px;
  font-style: normal;
  color: #AFAFAF;
}
.small-caption-ondark > .link-ref:hover {
  color: #fafafa;
  border-bottom: 1px solid #fafafa;
}

/* ------End of typography sizes------ */






/* ------Start of Footer Styling------ */


.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 2.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.contactlinks {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  letter-spacing: 0.04em;
  font-size: 0.78em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.contact-link a:hover {
  border-bottom: 1px solid #DA9218;
}


.site-credit {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 0.9em;
  margin-top: 1em;
}
/* ------End of Footer Styling------ */



/*-------------------------------------------End of identical to master.css */









/*-------------------------------------------Start of header styling -------*/




/*------- Start of nav styling -------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0em 4em;   /*Match main's margin*/
}

.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 38px;
  width: 61px;
}




/*--Start of Sticky Navbar class--*/
.sticky {
  position: fixed;
  transition-property: background;
  transition-duration: 1s;
  background-color: rgba(251,251,251,.99);
  border-bottom: 1px solid #E2E2E2;
  height: 4em;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  padding: 0em 4em;   /*Match main's margin*/
}
/*---End of Sticky Navbar class--*/



.navmenu {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}


/* .nav-home, .nav-cs, .nav-project, .nav-prevcs, .nav-nextcs {
border: 1px solid red;
} */

.nav-project {
  text-align: right;
}
.nav-prevcs {
  text-align: left;
  margin-right: 0.2em;
}
.nav-nextcs {
  text-align: right;
  margin-left: 0.2em;
}

.nav-prevcs, .nav-nextcs {
  padding-bottom: 0.2em;
  text-decoration: none;
  color: #333333;
  letter-spacing: 0.01em;
  font-size: 0.67em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.nav-prevcs:hover, .nav-nextcs:hover {
  border-bottom: 1px solid #DA9218;
}


.nav-home, .nav-project {
  width: 60%;
}

.nav-cs {
  margin-bottom: 0em;
  width: 56%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-cs a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  font-size: 0.78em;
  letter-spacing: 0.03em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}

.nav-cs a:hover {
  border-bottom: 1px solid #DA9218;
}



/*------- End of nav styling -------*/







/*------- Start of header styling -------*/

header {
  background: linear-gradient(#EDEBF0, #D1CDD8);
}
.hero-tagline {
  font-size: 2em;
  line-height: 1.5em;
  font-family: 'Rosarivo', serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding-top: 0em;
  margin-bottom: 0em;
  margin-left: 6em;
  margin-right: 6em;
}
.hero-subline {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
  margin-left: 6em;
  margin-right: 6em;
}

.hero-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.hero-desc-text {
  margin: 0em 1em;
  color: #777777;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
}



/*--------------------------------------------End of header styling -------*/




/*------- Start of casestudy specs styling -------*/
.cs-info {
  margin-top: 12em;
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cs-info h5 {
  font-size: 0.85em;
  line-height: 2em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  color: #777777;
  font-weight: 400;
  letter-spacing: 0.04em;
}

/*------- End of casestudy specs styling -------*/




/*------- Start of text and image styling -------*/




.cs-section > h1,
.cs-section > h2,
.cs-section > h3,
.cs-section > h4,
.cs-section > h5,
.cs-section > p {
  width: 67%;
}


/* controls font-size and line height of p in .cs-section*/
.cs-section > p {
  font-size: 1.1em;
  line-height: 1.5em;
}
.p-italic {
  margin-top: 2em;
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
}
/* controls font-size and line height of p*/



.note-label {
  color: #333333;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  margin-top: 4.75em;
  margin-bottom: 0.75em;
  font-size: 1.1em;
}
.pullquote {
  font-family: 'Rosarivo', serif;
  font-style: italic;
  line-height: 1.5em;
  font-size: 1.75em;
  margin-top: 0em;
}
.label-container {
  margin-top: 4em;
  text-align: left;
}
.casestudy-sectionlabel {
  display: inline;
  font-size: 2.2em;
  font-family: 'Rosarivo', serif;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 400;
  padding-top: 1.33em;
  margin-bottom: 0.67em;
  display: inline-block;
  /* border-bottom: 1px solid #DA9218; */
}
.section-sublabel {
  margin-top: 1.33em;
  margin-bottom: 6em;
  font-size: .78em;
  color: #444444;
}


.link-ref {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #BDBDBD;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-ref:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
.link-doc {
  color: #333333;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #BDBDBD;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-doc:hover {
  border-bottom: 1px solid #DA9218;
}
.link-work {
  padding-bottom: 0.15em;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 0.78em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-work:hover {
  border-bottom: 1px solid #DA9218;
}

.caption-label {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: .8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #444444;
}

.caption-fullwidth-container {
  margin-top: 2.67em;

}
.caption-fullwidth {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.05em;
  font-size: .8em;
  text-transform: uppercase;
  color: #333333;
  border-top: 1px solid #E2E2E2;
}



/* controls Nimbus Diagram visibility and text width*/
.diagramNarrow > p,
.diagramNarrow > h3 {
  width: 60%;
}
.img-contain4 {
  padding-left: 1.5%;
  margin: 4em 0em;
}
.img-incontain4 {
  margin: auto;
  width: 49%;
  display: inline;  /*adjust to 'block' for vertical layout*/
}
/* controls Nimbus Diagram visibility and text width*/



/* controls .hafpersona at 1024px and up*/
.hafpersona {
  background-image: url("../assets/csHaf-site/images/persona1x4.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 27vw;
  max-height: 348px;
}
/* controls .hafpersona*/






/*---------------Start of IxD media group styling ---*/



/*---Start of ixd720h---*/
.groupixd-1up-container {
  margin-top: 4em;
  margin-bottom: 4.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.groupixd-1up {
  margin-bottom: 4em;
  width: 60%;
  margin-left: 20%;
  border-top: 1px solid #E2E2E2;
}
.ixd720h {
  background-color: #000000;
  width: 318.48px;
  position: absolute;
  border: 13.5px solid #000000;
  border-radius: 45px;
}
.ixdmedia720 {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ixdstills720 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ixdstills720 img {
  max-width: 10%;
  margin-bottom: 2em;
}
/*---End of ixd720h---*/


/*----Start of hero video styling ---*/
.hero720h {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;    /* moves element relative to its orginal location*/
  bottom: -8em;    /* controls distance that element goes past parent*/
  margin-top: -8em;   /* controls spacing above element */
}
/*---End of hero video styling ---*/


/*---Start of ixd640h---*/
.groupixd-2up-container {
  margin-top: 4em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.groupixd-2up {
  width: 45%;
  border-top: 1px solid #E2E2E2;
}
.ixdmedia640 {
  margin-top: 1em;
  padding-bottom: 6em;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ixd640h {
  background-color: #000000;
  width: 283px;
  position: absolute;
  border: 12px solid #000000;
  border-radius: 40px;
  margin-top: 2em;
}
.ixdstills640 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ixdstills640 img {
  max-width: 13%;
}
.ixdcurves img {
  width: 100%;
}
.ixddesc640 {
  height: 8em;
}
/*---End of ixd640h---*/



/*----------------End of IxD media group styling ---*/





/* ------Start of video styling------ */
.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video {
  text-align: center;
  width: 77vw;
  height: 44vw;
  max-width: 992px;
  max-height: 558px;
}
/* ------End of video styling------ */





/*----Start of heroImage styling ---*/
.heroImageContainer {
  margin-top: .5em;
  text-align: center;
}
.heroImage {
  width: 70%;
  position: relative;    /* moves element relative to its orginal location*/
  bottom: -8em;    /* controls distance that element goes past parent*/
  margin-top: -8em;   /* controls spacing above element */
}
/*---End of heroImage styling ---*/


/*----Start of .image-preview styling ---*/
.img-preview-container{
  margin-top: 2em;
  padding-bottom: 2em;
}
.img-preview {
  display: block;
  width: 70%;
  max-width: 341px;
  margin: auto;
}
/*----End of .image-preview styling ---*/



.curvediagram-container {
  margin-top: 4em;
}
.diagram-left {
  margin-right: 1.33em;
}



.img-centeredandreduced {
  display: block;
  padding-top: 4em;
  padding-bottom: 1em;
  margin: auto;
  width: 100%;
}
.img-leftaligned {
  display: block;
  padding-top: 4em;
  width: 60%;
}


/* Full-width images without box-shadow */
.img-fullwidth{
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 3em;
  padding-bottom: 1em;
}


/* Full-width images with box-shadow */
.img-1up{
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 3em;
  margin-bottom: 1em;
  box-shadow: rgba(0,0,0,0.1) 0 1px 16px;
}

.img-1up-MarginBot{
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 3em;
  margin-bottom: 1em;
  box-shadow: rgba(0,0,0,0.1) 0 1px 16px;
}


.img2up-container, .img2upflip-container {
  padding-top: 0.5em;
  padding-bottom: 1.33em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.img2up, .img2upflip {
  margin-top: 1.67em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
}
.img2up img, .img2upflip img {
  width: 100%;
  box-shadow: rgba(178,178,178,0.2) 0 4px 16px;
}

.img2upflip > ul {
  text-decoration: none;
}


.imgcolumn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.imgcolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
}
.imgcolumn > img {
  display: block;
  margin-top: 24px;
  width: 100%;
  box-shadow: rgba(0,0,0,0.1) 0 1px 16px;
}




.img-dashdiagram {
  width: 100%;
  display: block;
  margin: 4em 0em;
}



/* Start of project carousel */
.carousel-caption {
  text-align: center;
}
.projectCarouselContainer{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.projectCarousel-left {
  width: 40%;
}
.projectCarousel-right {
  width: 40%;
  text-align: right;
}
.cs-sectionCarousel {
  padding-top: 2em;
  padding-bottom: 4em;
}
.cs-sectionCarousel p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 0.25em;
  font-size: .9em;
  line-height: 1.4em;
}

.closing {
  padding-top: 2.67em;
  max-width: 400px;
  margin: auto;
}
.closing h3 {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.35em;
}
.closing p {
  font-style: italic;
  text-align: center;
  font-style: italic;
}



/* End of project carousel */





/*------- End of text and image styling -------*/




/*--------------------------------------------End of section styling -------*/




/*greyzone*/
@media only screen and (min-width:1281px) {
  .container {
    /* border: 1px solid grey; */
    margin: auto;
  }
  nav {
    padding-left: 4em; /*Match main's margin*/
    padding-right: 4em; /*Match main's margin*/
    padding-top: 5em;
  }
  .sticky {
    padding: 0 4em;  /*Match 'main' margin*/
  }
  .hero-desc {
    padding-top: 1em;
    width: 60%;
    margin-left: 20%;
  }

  /* controls Nimbus Diagram visibility and text width*/
  .diagramNarrow,
  .diagramMobileNarrow {
    display: none;
  }
  /* controls Nimbus Diagram visibility and text width*/

}


/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {

  /* .container {
  border: 2px solid blue;
  } */

  main, .main {
    margin: 0em 8em;
  }

  nav {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4.95em;
  }
  .sticky {
    padding: 0 4em;
  }
  .hero-tagline {
    width: 70%;
    margin-left: 15%;
  }

  .hero-desc {
    padding-top: 1em;
    width: 60%;
    margin-left: 20%;
  }

  .cs-section > h1,
  .cs-section > h2,
  .cs-section > h3,
  .cs-section > h4,
  .cs-section > h5,
  .cs-section > p {
    width: 75%;
  }

  .imgcolumn > img {
    display: block;
  }


  /* controls Nimbus Diagram visibility and text width*/
  .diagramNarrow,
  .diagramMobileNarrow {
    display: none;
  }
  /* controls Nimbus Diagram visibility and text width*/

}


/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
  border: 2px solid red;
  } */
  main, .main {
    margin: 0em 4em;
  }

  .cs-section > h1,
  .cs-section > h2,
  .cs-section > h3,
  .cs-section > h4,
  .cs-section > h5,
  .cs-section > p {
    width: 80%;
  }

  /* controls font-size and line height of p in .cs-section*/
  .cs-section > p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 34px;
    width: 54.58px;
  }
  nav {
    padding-left: 2.67em;
    padding-left: 2.67em;
    padding-top: 3.2em;
  }
  .sticky {
    padding: 0em 2.67em;
  }

  .cs-info {
    margin-top: 10em;
    width: 100%;
    margin-left: 0%;
  }
  .img-centeredandreduced {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .img-leftaligned {
    padding-top: 3em;
    width: 80%;
  }


  /* controls Nimbus Diagram visibility and text width*/
  .diagramNarrow > p,
  .diagramNarrow > h3 {
    width: 80%;
  }
  /* controls Nimbus Diagram visibility and text width*/


  .nav-cs a {
    display: none;
  }
  .groupixd-2up-container {
    margin-top: 2em;
    margin-bottom: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 80%;
    margin: 10%;
    margin-bottom: 4em;
  }
  .groupixd-1up {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
  }
  .ixddesc640 {
    height: 6em;
  }
  .diagram-left {
    margin-right: 1.33em;
  }
  .diagram-left, .diagram-right {
    width: 270px;
  }

  .hero-tagline {
    font-size: 1.9em;
    padding-top: 1em;
    width: 70%;
    margin-left: 15%;
  }

  .hero-desc {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
  }
  .hero720h {
    position: relative;    /* moves element relative to its orginal location*/
    bottom: -8em;    /* controls distance that element goes past parent*/
    margin-top: -8em;   /* controls spacing above element */
  }


  /*----Start of heroImage styling ---*/
  .heroImageContainer {
    margin-top: 1em;
  }
  .heroImage {
    width: 80%;
    position: relative;
    bottom: -6em;
    margin-top: -6em;
  }
  /*---End of heroImage styling ---*/



  .pullquote {
    font-size: 1.78em;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .casestudy-sectionlabel {
    font-size: 2.67em;
    padding-bottom: 0.25em;
  }


  /* Start of project carousel */
  .projectCarousel-left {
    width: 35%;
  }
  .projectCarousel-right {
    width: 35%;
    text-align: right;
  }
  /* End of project carousel */


  /* controls .hafpersona at 768px to 1023px*/
  .hafpersona {
    background-image: url("../assets/csHaf-site/images/persona2x2.png");
    background-position: left;
    height: 93vw;
    max-height: 720px;
  }
  /* controls .hafpersona*/




  /* Start of large diagram visibility (eg Nimbus) */
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  /* End of large diagram visibility */

  .imgcolumn > img {
    display: block;
  }

}



/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* .container {
  border: 2px solid green;
  } */

  main, .main {
    padding-top: 0em;
    margin: 0em 1.33em;
  }


  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
  }

  nav {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.7em;
  }


  .nav-project {
    width: 50%;
  }
  .sticky {
    padding: 0 1.33em;
  }
  .label-container {
    margin-top: 4em;
  }


  /* controls font-size and line height of p in .cs-section*/
  .cs-section > p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/

  .pullquote {
    font-size: 1.78em;
    margin-top: 1em;
    margin-bottom: 2em;
  }


  /* controls .hafpersona at 480px to 767px*/
  .hafpersona {
    background-image: url("../assets/csHaf-site/images/persona2x2.png");
    background-position: left;
    height: 150vw;
    max-height: 720px;
  }
  /* controls .hafpersona*/



  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-centeredandreduced {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .img-leftaligned {
    padding-top: 2em;
    width: 80%;
  }
  .nav-cs a {
    display: none;
  }
  .cs-info {
    margin-top: 6em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .cs-section > h1,
  .cs-section > h2,
  .cs-section > h3,
  .cs-section > h4,
  .cs-section > h5,
  .cs-section > p {
    width: 80%;
  }

  /* type size reduction for mobile*/
  .cs-section > h2 {
    font-size: 1.67em;
    line-height: 1.4em;
  }
  .cs-section > h3 {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .cs-section > h4 {
    font-size: 1em;
    line-height: 1.4em;
  }
  /* type size reduction for mobile*/



  /* controls Nimbus Diagram visibility and text width*/
  .diagramNarrow > p,
  .diagramNarrow > h3 {
    width: 100%;
  }
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  .img-incontain4 {
    margin: auto;
    width: 90%;
    display: block;
  }
  /* controls Nimbus Diagram visibility and text width*/


  .groupixd-2up-container {
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 100%;
    margin-bottom: 2em;
  }
  .ixd640h {
    border: 2px solid #000000;
  }
  .diagram-left {
    margin-right: 0em;
  }
  .diagram-left, .diagram-right {
    display: block;
    margin: auto;
    margin-bottom: 2.67em;
    width: 100%;
  }


  .groupixd-1up {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 1em;
  }
  .ixd720h {
    border: 2px solid #000000;
  }



  .hero-tagline {
    font-size: 1.8em;
    padding-top: 0em;
    width: 70%;
    margin-left: 15%;
  }
  .hero-desc {
    padding-top: 1em;
    width: 60%;
    margin-left: 20%;
  }
  .hero-desc-text {
    display: none;
  }
  .hero720h {
    position: relative;    /* moves element relative to its orginal location*/
    bottom: -4em;    /* controls distance that element goes past parent*/
    margin-top: -4em;   /* controls spacing above element */
  }


  /*----Start of heroImage styling ---*/
  .heroImageContainer {
    margin-top: 1em;
  }
  .heroImage {
    width: 90%;
    position: relative;
    bottom: -3em;
    margin-top: -3em;
  }
  /*---End of heroImage styling ---*/


  .img2upflip-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img2upflip {
    width: 100%;
  }


  .imgcolumn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .imgcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
  }



  .imgcolumn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .imgcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
  }




  .casestudy-sectionlabel {
    font-size: 2em;
    padding-bottom: 0.25em;
  }


  /* Start of project carousel */
  .carousel-caption {
    text-align: center;
  }
  .projectCarousel-left, .projectCarousel-right {
    width: 40%;
  }
  /* End of project carousel */

  .site-credit {
    text-align: center;
  }
  .section-sublabel {
    margin-top: 0.5em;
    margin-bottom: 4em;
    font-size: .7em;
  }


  /* Start of large diagram visibility (eg Nimbus) */
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  /* End of large diagram visibility */

  .imgcolumn > img {
    display: block;
  }

}



/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {

  /* .container {
  border: 2px solid pink;
  } */

  main, .main {
    padding-top: 0em;
    margin: 0em 1em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
  }

  nav {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
  }

  .sticky {
    padding: 0 1em;  /*Match 'main' margin*/
  }
  .hero-subline {
    display: none;
  }

  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .label-container {
    margin-top: 4em;
  }



  .img-centeredandreduced {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .img-leftaligned {
    padding-top: 1em;
    width: 100%;
  }


  .pullquote {
    font-size: 1.11em;
  }
  .nav-cs a {
    display: none;
  }
  .nav-project {
    width: 50%;
  }
  .cs-info {
    margin-top: 8em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .cs-section > h1,
  .cs-section > h2,
  .cs-section > h3,
  .cs-section > h4,
  .cs-section > h5,
  .cs-section > p {
    width: 100%;
  }


  /* type size reduction for mobile*/
  .cs-section > h2 {
    font-size: 1.67em;
    line-height: 1.4em;
  }
  .cs-section > h3 {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .cs-section > h4 {
    font-size: 1em;
    line-height: 1.4em;
  }
  /* type size reduction for mobile*/



  /* controls Nimbus Diagram visibility and text width*/
  .diagramNarrow > p,
  .diagramNarrow > h3 {
    width: 100%;
  }
  .img-incontain4 {
    margin: auto;
    width: 100%;
    display: block;
  }
  /* controls Nimbus Diagram visibility and text width*/


  /* controls font-size and line height of p in .cs-section*/
  .cs-section > p {
    font-size: 1em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/





  .groupixd-2up-container {
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 100%;
    margin-bottom: 2em;
  }
  .ixddesc640 {
    height: 10em;
  }

  .ixd640h {
    border: 2px solid #000000;
  }
  .diagram-left {
    margin-right: 0em;
  }
  .diagram-left, .diagram-right {
    display: block;
    margin: auto;
    margin-top: 2.67em;
    width: 100%;
  }


  .groupixd-1up {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 1em;
  }
  .ixd720h {
    width: 283px;
    border: 12px solid #000000;
    border-radius: 40px;
    border: 2px solid #000000;
  }


  .hero-tagline {
    padding-top: 0em;
    width: 90%;
    margin-left: 5%;
    font-size: 1.55em;
  }
  .hero-desc {
    padding-top: 1em;
    width: 80%;
    margin-left: 10%;
  }
  .hero-desc-text {
    display: none;
  }
  .hero720h {
    position: relative;    /* moves element relative to its orginal location*/
    bottom: -8em;    /* controls distance that element goes past parent*/
    margin-top: -10em;   /* controls spacing above element */
  }




  /*----Start of heroImage styling ---*/
  .heroImageContainer {
    margin-top: 1em;
  }
  .heroImage {
    width: 90%;
    position: relative;
    bottom: -3em;
    margin-top: -3em;
  }
  /*---End of heroImage styling ---*/


  .casestudy-sectionlabel {
    font-size: 2em;
    padding-bottom: 0.25em;
  }

  /* Start of project carousel */
  .carousel-caption {
    text-align: center;
  }
  .projectCarouselContainer{
    margin-top: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .projectCarousel-left, .projectCarousel-right {
    width: 80%;
    margin-left: 10%;
  }
  .projectCarousel-right {

    margin-top: 2em;
  }
  /* End of project carousel */

  .site-credit {
    text-align: center;
  }


  .img2upflip-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img2upflip {
    width: 100%;
  }


  .imgcolumn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .imgcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
  }



  .section-sublabel {
    margin-top: 0.5em;
    margin-bottom: 4em;
    font-size: .7em;
  }


  /* controls .hafpersona at 320px to 479px*/
  .hafpersona {
    background-image: url("../assets/csHaf-site/images/persona4x1.png");
    background-position: center;
    height: 523vw;
    max-height: 1464px;
  }
  /* controls .hafpersona*/


  /* Start of large diagram visibility (eg Nimbus) */
  .diagramWide,
  .diagramMobileWide {
    display: none;
  }
  /* End of large diagram visibility */

  .imgcolumn > img {
    display: block;
  }

}
