/*--------------------------------------Start of identical to master.css */


*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
}
main {
  margin: 0em 8em;
}


/* ------Start of typography sizes------ */

html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  color: #333333;
  font-family: 'alegreya','georgia', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  /* max-width: 560px; */
}
h1, .h1 {
  font-family: 'work sans', sans-serif;
  font-weight: 500;
  font-size: 2.83333333em;
  line-height: 1.05882353em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'alegreya','georgia', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'alegreya','georgia', serif;
  font-size: 1.38888889em;
  line-height: 2.16em;
  margin-top: 1.08em;
  margin-bottom: 0.44em;
}
h4, .h4 {
  font-family: 'alegreya','georgia', serif;
  font-size: 1.22em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* ------End of typography sizes------ */






/* ------Start of Footer Styling------ */


.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 6.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contactlinks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  margin-bottom: 0em;
  font-size: .9em;
  font-weight:400;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #DA9218;
}
.contact-link a:hover {
  color: #BDBDBD;
}
.site-credit {
  font-weight: 300;
  color: #BDBDBD;
  font-size: 0.9em;
  margin-top: 1em;
}
/* ------End of Footer Styling------ */



/*-------------------------------------------End of identical to master.css */









/*-------------------------------------------Start of header styling -------*/




/*------- Start of nav styling -------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0em 8em;   /*Match main's margin*/
}


/*--Start of Sticky Navbar class--*/
.sticky {
  position: fixed;
  transition-property: all;
  transition-duration: 2s;
  background-color: rgba(255,255,255,.95);
  /* border-bottom: 1px solid #E1E1E1; */
  height: 4em;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  padding: 0em 8em;   /*Match main's margin*/
}

/*---End of Sticky Navbar class--*/

.navmenu {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-home, .nav-nextcs {
  font-family: 'work sans', sans-serif;
  font-size: 0.67em;
  text-decoration: none;
  color: #333333;
  width: 20%;
  margin: 0em;
}

.nav-nextcs {
  text-align: right;
}

.nav-cs {
  /* border: 1px solid red; */
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav-cs a {
  font-family: 'work sans', sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #333333;
  margin: 0em;
}
/*------- End of nav styling -------*/



/*------- Start of header styling -------*/

header {
  background: linear-gradient(#FAFAFA, #E2E2E2);
}
.hero-tagline {
  font-family: 'alegreya sans', sans-serif;
  text-align: center;
  margin-top: 2em;
}
.hero-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 1em;
}
.hero-desc-text {
  margin: 0em 1em;
  color: #828282;
  font-family: 'alegreya sans', sans-serif;
  text-align: center;
}
/*------- End of header styling -------*/


/*----Start of hero IxD video styling ---*/
.hero-img {
  /* border: 1px solid red; */
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5em;
}
.ixd720h {
  width: 318.48px;
  position: absolute;
}
.ixd720hcase {
  position: absolute;
  z-index: 1;
}
/*---End of hero IxD video styling ---*/



/*--------------------------------------------End of header styling -------*/




/*------- Start of casestudy specs styling -------*/
.cs-info {
  margin-top: 12em;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cs-info-roles,
.cs-info-deliverables,
.cs-info-specs {
  width: 30%;
  padding-left: 0.5em;
  border-top: 1px solid #E2E2E2;
  /* border-right: 1px solid #C5C5C5;; */
}

.cs-info h5 {
  color: #828282;
  font-size: 0.8em;
  line-height: 2em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.cs-info li {
  font-family: 'alegreya sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  /* font-family: 'fira mono', monospace;
  font-size: 1em;
  line-height: 2em; */
}
/*------- End of casestudy specs styling -------*/




/*------- Start of text and image styling -------*/


.cs-section h1,
.cs-section h2,
.cs-section h3,
.cs-section h4,
.cs-section h5,
.cs-section p {
  width: 60%;
}
.note-label {
  margin-top: 3.56em;
  margin-bottom: 2em;
  font-size: .78em;
  text-transform: uppercase;
}
.p-italic {
  font-style: italic;
  font-size: .9em;
  line-height: 1.67em;
}
.label-container {
  margin-top: 8em;
  padding-bottom: 1em;
  text-align: left;
}
.casestudy-sectionlabel {
  display: inline;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #DA9218;
  box-shadow: inset 0 -1px 0 #DA9218;
}
.section-sublabel {
  margin-top: 0.5em;
  margin-bottom: 6em;
  font-size: .78em;
  text-transform: uppercase;
}
.pullquote26h {
  color: #333333;
  font-family: 'bitter','georgia', serif;
  font-size: 1.44em;
  line-height: 1.7em;
  margin-top: 2em;
  margin-bottom: 2.2em;
}
.link-ref {
  color: #4F4F4F;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #BDBDBD;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.link-ref:hover {
  color: #BDBDBD;
}
.link-work {
  color: #4f4f4f;
  text-decoration: none;
  /* border-bottom: 1px solid #DA9218; */
  box-shadow: inset 0 -1px 0 #DA9218;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.link-work:hover {
  box-shadow: inset 0 -4px 0 #DA9218;
}
.caption-label {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: .78em;
  text-transform: uppercase;
}

/*---Start of IxD media group styling ---*/
.groupixd-2up-container {
  margin-top: 4em;
  margin-bottom: 4.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.groupixd-2up {
  width: 45%;
  border-top: 1px solid #E2E2E2;
}
.ixdstills img {
  max-width: 13%;
}
.ixdcurves img {
  width: 100%;
}
.ixdmedia {
  margin-top: 8em;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 8em;
  border-bottom: 1px solid #E2E2E2;
}
.ixd640h {
  width: 283px;
  position: absolute;
  border: 12px solid #000000;
  border-radius: 40px;
}

/*----End of IxD video styling ---*/


.img-2up-container {
  margin-top: 4em;
}
.img-2up-left {
  margin-right: 1.33em;
}

.img-centered {
  display: block;
  padding-top: 4em;
  margin: auto;
}
.img-fullwidth{
  /* background-color: #e2e2e2; */
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 1.167em;
  padding-bottom: 3.11em;
}




/*------- End of text and image styling -------*/




/*--------------------------------------------End of section styling -------*/





@media only screen and (min-width:1281px) {
  .container {
    margin: auto;
  }

}



/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    border: 2px solid blue;
  }
  main {
    margin: 0em 5em;
  }
  nav {
    padding: 0em 5em; /*Match main's margin*/
  }
  .sticky {
    padding: 0 5em;  /*Match 'main' margin*/
  }
}


/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    border: 2px solid red;
  }
  main {
    margin: 0em 5em;
  }
  nav {
    padding: 0em 5em; /*Match main's margin*/
  }
  .sticky {
    padding: 0em 5em;  /*Match 'main' margin*/
  }
  .cs-info {
    width: 100%;
    margin-left: 0%;
  }
  .img-centered {
    margin: auto;
  }
  .cs-section h1,
  .cs-section h2,
  .cs-section h3,
  .cs-section h4,
  .cs-section h5,
  .cs-section p {
    width: 80%;
  }
  .nav-cs a {
    display: none;
  }
  .groupixd-2up-container {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 80%;
    margin-bottom: 8em;
  }
  .img-2up-left {
    margin-right: 1.33em;
  }
  .img-2up-left, .img-2up-right {
    width: 270px;
  }
}



/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    border: 2px solid green;
  }
  main {
    padding-top: 0em;
    margin: 0em 2.67em;
  }
  nav {
    padding: 0em 2.67em; /*Match main's margin*/
  }
  .nav-nextcs {
    width: 50%;
  }
  .sticky {
    padding: 0 2.67em;  /*Match 'main' margin*/
  }
  main p {
    font-size: 0.95em;
  }
  .ralogo {
    margin-bottom: 1.75em;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-centered {
    margin: auto;
    width: 80%;
  }
  .pullquote26h {
    font-size: 1.11em;
  }
  .nav-cs a {
    display: none;
  }
  .cs-info {
    width: 60%;
    margin-left: 20%;
    flex-direction: column;
    justify-content: space-between;
  }
  .cs-info-roles,
  .cs-info-deliverables,
  .cs-info-specs {
    width: 100%;
    margin-bottom: 1em;
  }
  .cs-section h1,
  .cs-section h2,
  .cs-section h3,
  .cs-section h4,
  .cs-section h5,
  .cs-section p {
    width: 100%;
  }
  .hero-desc {
    flex-direction: column;
  }
  .hero-desc-text {
    margin-top: 1.33em;
  }
  .groupixd-2up-container {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 100%;
    margin-bottom: 8em;
  }
  .ixd640h {
    border: 4px solid #000000;
  }
  .img-2up-left {
    margin-right: 0em;
  }
  .img-2up-left, .img-2up-right {
    display: block;
    margin: auto;
    margin-bottom: 2.67em;
  }
}



/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {
  .container {
    border: 2px solid pink;
  }
  main {
    padding-top: 0em;
    margin: 0em 1.78em;
  }
  nav {
    padding: 0em 1.78em; /*Match main's margin*/
  }
  .sticky {
    padding: 0 1.78em;  /*Match 'main' margin*/
  }
  main p {
    font-size: 0.95em;
  }
  .ralogo {
    margin-bottom: 1.75em;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-centered {
    width: 100%;
  }
  .pullquote26h {
    font-size: 1.11em;
  }
  .nav-cs a {
    display: none;
  }
  .nav-nextcs {
    width: 50%;
  }
  .cs-info {
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-between;
  }
  .cs-info-roles,
  .cs-info-deliverables,
  .cs-info-specs {
    width: 100%;
    margin-bottom: 1em;
  }
  .cs-section h1,
  .cs-section h2,
  .cs-section h3,
  .cs-section h4,
  .cs-section h5,
  .cs-section p {
    width: 100%;
  }
  .hero-desc {
    flex-direction: column;
  }
  .hero-desc-text {
    margin-top: 1.33em;
  }
  .groupixd-2up-container {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .groupixd-2up {
    width: 100%;
    margin-bottom: 8em;
  }
  .ixd640h {
    border: 4px solid #000000;
  }
  .img-2up-left {
    margin-right: 0em;
  }
  .img-2up-left, .img-2up-right {
    display: block;
    margin: auto;
    margin-bottom: 2.67em;
  }
}
