*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  /* border: 8px solid #EDE3E4; */
}
main {
  margin: 0em 8em;
}


/* Start of typography sizes */
html, .root {
  font-size: 18px;
  line-height: 27px;
}

body, .article {
  background-color: #FBFBFB;
  /* border: 16px solid #ffffff; */
  color: #333333;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  /* max-width: 560px; */
}

h1, .h1 {
  font-family: 'Rosarivo', serif;
  font-weight: 400;
  font-size: 2.83333333em;
  line-height: 1.5em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'Rosarivo', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1.38888889em;
  line-height: 1.5em;
  margin-top: 1.08em;
  margin-bottom: 0.44em;
}
h4, .h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  font-size: 1.22em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* End of typography sizes */






/*------- Start of logo and nav styling -------*/
.navmenu {
  /* border: 1px solid #BDBDBD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.67em;
  padding: 1.33em 4em;
}
.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 38px;
  width: 61px;
}
.work-logo {
  background: url(../assets/homepage/work-logo.svg) center / cover;
  height: 38px;
  width: 156px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}
.photo-caption,
.photo-caption a {
  font-style: italic;
  color: #888888;
}

.nav-main {
  width: 272px;
}

.menu {
  /* border-bottom: 1px solid #E6E6E6; */
  margin-bottom: 0em;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  font-size: 0.78em;
  letter-spacing: 0.02em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.menu a:hover {
  border-bottom: 1px solid #DA9218;
}
.menu .navSelected {
  border-bottom: 1px solid #DA9218;
}

/*------- End of logo and nav styling -------*/






/* ------Start of Label Styling------ */
.section-divider {
  font-family: 'Rosarivo', serif;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  font-size: 0.75em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.67em;
}



.label-section {
  display: inline;
  font-family: 'Alegreya Sans', serif;
  font-weight: 400;
  display: inline-block;
  font-size: 2.67em;
  margin-top: 0.67em;
  margin-bottom: 0em;
}


/* ------End of Label Styling------ */





/* ------Start of Hero Styling------ */


.hero {
  padding-top: 6em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 6em;
}
.hero h1 {
  color: #333333;
  font-family:'Rosarivo', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  max-width: 1136px;
  margin: auto;
  margin-bottom: 1em;
}
.hero h1 span {
  font-family:'Rosarivo', serif;
  font-style: italic;
}
.closing h2 {
  color: #333333;
  font-family:'Rosarivo', serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1.5em;
  margin: auto;
  max-width: 1136px;
  padding-bottom: 0.2em;
}
.closing h2 a {
  color: #111111;
}


.hero-link {
  font-family: 'Rosarivo', serif;
  color: #111111;
  text-decoration: none;
  transition: all .25s cubic-bezier(0,0,.58,1);
}



.hero-link:hover {
  text-decoration: underline;
}


.hero-more {
  padding-bottom: 0.25em;
  text-decoration: none;
  font-style: normal;
  color: #333333;
  font-size: 14px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: inset 0 -1px 0 rgba(218,146,24,1);
  /* transition: all .2s cubic-bezier(0,0,.58,1); */
}
.hero-more:hover {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,1);
}






/* ------End of Hero Styling------ */



/* ------Start of Work Styling------ */



/* controls p in main*/
main p {
  font-size: 1.1em;
  line-height: 1.5em;
}
/* controls p in main*/


.work-cs {
  padding-top: 1em;
  padding-bottom: 6em;
}

.number-cs {
  font-family: 'Rosarivo', serif;
  font-style: italic;
  text-align: center;
}

/*----Start of hero video styling ---*/
.workcoverVideo-iphonex {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: linear-gradient(#E0C5C8, #E1D4D6) */
  background: linear-gradient(#D8D1C8,#D8D1C8);
  /* border: 9px solid #FFFFFF; */
}
.iphonex {
  background-color: #000000;
  width: 213.5px;
  position: absolute;
  border: 9px solid #000000;
  border-radius: 30px;
}
/*---End of hero video styling ---*/





/*------------------ Start of workcover sytling ---------*/


.workcoverVideo-iphonex {
  /* margin-top: 3em; */
  width: 100%;
  /* border: 8px solid #ffffff; */
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  box-shadow: rgba(187,187,187,0.4) 0 4px 24px;
}
.workcoverVideo-iphonex:hover {
  box-shadow: rgba(187,187,187,0.8) 0 6px 24px;
}


.workcover {
  display: block;  /* gets rid of div gap under */
  width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

/* .workcover:hover {
  transform:scale(1.03);
} */


.workcover-container {
  /* position: relative;
  overflow: hidden; */
  display: block;
  /* border: 8px solid #ffffff; */
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  box-shadow: rgba(187,187,187,0.7) 0 6px 24px;
}
.workcover-container:hover {
  box-shadow: rgba(187,187,187,1) 0 8px 28px;
}

/*------------------ End of workcover sytling ---------*/



/*------------------ Start of work desc and link sytling ---------*/


.work-heading {
  font-family: 'Alegreya', serif;
  font-size: 1.6em;
  line-height: 1.3em;
  margin-top: 0em;
  margin-bottom: 0.67em;
}
.workdesc {
  margin-top: 1.67em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.workdesc .desc1 {
  width: 28%;
  color: #444444;
  order: 1;
}
.workdesc .desc2 {
  width: 66%;
  order: 2;
}


.work-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-top: 0.35em;
  margin-bottom: 0.67em;
  letter-spacing: 0.06em;
}
.work-title span {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0em;
}
.work-scope {
  color: #333333;
  font-family: 'Alegreya Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.95em;
  line-height: 1.5em;
  margin-bottom: 1.67em;
}
.link-work {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #333333;
  font-size: 0.85em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  transition: all .2s cubic-bezier(0,0,.58,1);
  border-bottom: 1px solid #DA9218;
}
.link-work:hover {
  border-bottom: 1px solid #333333;
}
.link-ref {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #BDBDBD;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-ref:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}



/*------------------ End of work desc and link sytling ---------*/






/* ------Start of Footer Styling------ */


.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 6.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.contactlinks {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  letter-spacing: 0.02em;
  font-size: 0.78em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.contact-link a:hover {
  border-bottom: 1px solid #DA9218;
}




.site-credit {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 0.9em;
  margin-top: 1em;
}

.typography-credit {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  text-transform: uppercase;
  padding-top: 2em;
  color: #999999;
}

/* ------End of Footer Styling------ */




/*greyzone*/
@media only screen and (min-width:1281px) {

  .container {
    /* border: 1px solid grey; */
    margin: auto;
  }
  main {
    margin: 0em 4em;
  }

}




/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .container {
    border: 1px solid blue;
  } */
  main {
    margin: 0em 4em;
  }
  .hero h3 {
    font-size: 1em;
  }

}

/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
    border: 1px solid red;
  } */

  main {
    margin: 0em 2.67em;
  }
  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 34px;
    width: 54.58px;
  }
  .work-logo {
    background: url(../assets/homepage/work-logo.svg) center / cover;
    height: 34px;
    width: 139.58px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  /* controls p in main*/

  .navmenu {
    margin-top: 1.34em;
    padding: 1.33em 2.67em;
  }
  .hero {
    padding-top: 5em;
    padding-left: 2.67em;
    padding-right: 2.67em;
    padding-bottom: 5em;
  }
  .hero h3 {
    font-size: 1em;
  }
  .hero h1 {
    font-size: 1.75em;
  }
  .closing h2 {
    font-size: 1.75em;
  }


  .label-section {
    font-size: 2.67em;
  }



  .work-heading {
    font-size: 1.26em;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 0.67em;
  }
}

/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* .container {
    border: 1px solid green;
  } */

  main {
    margin: 0em 1.33em;
  }
  .workcover-container {
    /* border: 6px solid #ffffff; */
  }
  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
  }
  .work-logo {
    background: url(../assets/homepage/work-logo.svg) center / cover;
    height: 30px;
    width: 123.16px;
    margin: auto;
    margin-top: 0em;
    margin-bottom: 1em;
  }

  .work-scope {
    margin-bottom: 1.33em;
  }

  .label-section {
    font-size: 2em;
  }


  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  /* controls p in main*/



  .work-heading {
    font-size: 1.26em;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 0.67em;
  }

.navmenu {
    /* border: 1px solid #BDBDBD; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding: 2em 2em;
  }

  .hero h3 {
    font-size: 0.9em;
  }
  .hero h1 {
    font-size: 1.65em;
  }
  .closing h2 {
    font-size: 1.65em;
  }
  .hero {
    padding-top: 5em;
    /* only instance of added padding-left and padding-right for hero text */
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
  }

  .work-title {
    margin-top: 0.35em;
    margin-bottom: 0.15em;
  }

  .workcoverVideo-iphonex {
    /* border: 6px solid #FFFFFF; */
  }

/*Start of work description styling */
  .work-desc {
    display: none;
  }
  .workdesc {
    display: flex;
    flex-direction: column;
  }
  .workdesc > p, .studiodesc > p {
    font-size: 1em;
  }
  .workdesc .desc1 {
    order: 2;
    width: 100%;
  }
  .workdesc .desc2 {
    order: 1;
    margin-top: 0em;
    width: 100%;
    max-width: 480px;
  }
/*End of work description styling */

.section-sublabel {
  margin-top: 0.5em;
  margin-bottom: 4em;
  font-size: .7em;
}

  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site-credit {
    text-align: center;
  }

}

/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {

  /* .container {
    border: 1px solid pink;
  } */

  main {
    margin: 0em 1em;
  }
  .workcover-container {
    /* border: 6px solid #ffffff; */
  }
  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
    margin-bottom: 1.5em;
  }
  .work-logo {
    background: url(../assets/homepage/work-logo.svg) center / cover;
    height: 30px;
    width: 123.16px;
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .hero-more {
    font-size: 12px;
  }

  .label-section {
    font-size: 2em;
  }

  /* controls p in main*/
  main p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  /* controls p in main*/

  .workcoverVideo-iphonex {
    /* border: 6px solid #FFFFFF; */
  }

  .work-heading {
    font-size: 1.26em;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 0.67em;
  }

  .navmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0em;
    padding-left: 1em;
    padding-top: 1em;
  }
  .nav-main {
    margin-top: 4em;
  }
  .hero {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 5em;
  }


  .hero h3 {
    font-size: 0.9em;
    padding-top: 0.33em;
  }
  .hero h1 {
    font-size: 1.4em;
  }
  .closing h2 {
    font-size: 1.4em;
  }

  .label-container {
    text-align: left;
  }
  .section-sublabel {
    margin-top: 0.5em;
    margin-bottom: 4em;
    font-size: .7em;
  }

  .work-title {
    margin-top: 0.35em;
    margin-bottom: 0.15em;
  }

/*Start of work description styling */
  .work-desc {
    display: none;
  }

  .workdesc {
    display: flex;
    flex-direction: column;
  }
  .workdesc > p {
    font-size: 1em;
  }
  .workdesc .desc1 {
    order: 2;
    width: 100%;
  }
  .workdesc .desc2 {
    order: 1;
    margin-top: 0em;
    width: 100%;
  }
/*Start of work description styling */

  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .studiodesc {
    width: 100%;
  }
  .site-credit {
    text-align: center;
  }
}
