*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  /* border: 8px solid #EDE3E4; */
}
main {
  margin: 0em 8em;
}


/* Start of typography sizes */
html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  color: #333333;
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  /* max-width: 560px; */
}
h1, .h1 {
  font-family: 'work sans', sans-serif;
  font-weight: 500;
  font-size: 2.83333333em;
  line-height: 1.05882353em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'eczar','georgia', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.4em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 1.38888889em;
  line-height: 1.4em;
  margin-top: 1.08em;
  margin-bottom: 0.44em;
}
h4, .h4 {
  font-family: 'Gentium Basic', serif;
  font-weight: 600;
  font-size: 1.22em;
  line-height: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* End of typography sizes */


/*------- Start of logo and nav styling -------*/
.navmenu {
  /* border: 1px solid #BDBDBD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.67em;
  padding: 1.33em 4em;
}
.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 34px;
  width: 54.58px;
}

.nav-main {
  width: 180px;
}
.menu {
  /* border-bottom: 1px solid #E6E6E6; */
  margin-bottom: 0em;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  padding-bottom: 0.45em;
  text-decoration: none;
  color: #333333;
  font-size: 0.67em;
  font-weight: 500;
  font-family: 'work sans', sans-serif;
  border-bottom: 1px solid #FFFFFF;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.menu a:hover {
  border-bottom: 1px solid #DA9218;
}
/*------- End of logo and nav styling -------*/






/* ------Start of Label Styling------ */
.label-container {
  text-align: center;
}
.label-section {
  display: inline;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.33em;
  display: inline-block;
  border-bottom: 1px solid #DA9218;
}
/* ------End of Label Styling------ */





/* ------Start of Hero Styling------ */

.hero {
  padding-top: 6em;
  padding-left: 4em;
  padding-right: 4em;
}
.hero h1 {
  font-family:'eczar', serif;
  font-size: 3.67em;
  line-height: 1.25em;
  max-width: 996px;
  margin: auto;
}

.hero h1 span {
  text-decoration: underline;
}

.hero a {
  color: #333333;
  text-decoration: underline;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.hero a:hover {
  color: black;
}
/* ------End of Hero Styling------ */



/* ------Start of Work Styling------ */



/* controls p in main*/
main p {
  font-size: 1.11em;
  line-height: 1.67em;
}
/* controls p in main*/





/*----Start of hero video styling ---*/
.workcoverVideo-iphonex {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#F3F3F3,#F7F7F7);
  /* background-color: #F9F9F9; */
}
.iphonex {
  background-color: #000000;
  width: 213.5px;
  position: absolute;
  border: 9px solid #000000;
  border-radius: 30px;
}
/*---End of hero video styling ---*/





/*------------------ Start of workcover sytling ---------*/


.workcoverVideo-iphonex {
  margin-top: 3em;
  width: 100%;
  box-shadow: rgba(224,224,224,0.2) 0 0 24px;
}
.workcoverVideo-iphonex:hover {
  box-shadow: rgba(224,224,224,0.75) 0 12px 32px;
}


.workcover {
  display: block;  /* gets rid of div gap under */
  width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.workcover:hover {
  transform:scale(1.02);
}

.workcover-container {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(224,224,224,0.2) 0 0 24px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.workcover-container:hover {
  box-shadow: rgba(224,224,224,0.75) 0 8px 32px;
}

/*------------------ End of workcover sytling ---------*/



/*------------------ Start of work desc and link sytling ---------*/

.work-heading {
  font-family: 'eczar', serif;
  font-weight: 500;
  font-size: 1.38888889em;
  line-height: 1.4em;
  margin-top: 0em;
  margin-bottom: 1em;
}

.studiodesc {
  width: 66%;
}
.workdesc {
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.workdesc .desc1 {
  width: 28%;
}
.workdesc .desc2 {
  width: 66%;
  color: #444444;
}
.studiodesc {
  color: #444444;
}
.work-scope {
  color: #666666;
  font-style: italic;
  font-family: 'Gentium Basic', serif;
}
.caption-label {
  border: 1px solid red;
}
.link-work {
  padding-bottom: 0.45em;
  text-decoration: none;
  color: #333333;
  font-size: 0.67em;
  font-weight: 500;
  font-family: 'work sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #FFFFFF;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-work:hover {
  border-bottom: 1px solid #DA9218;
}

/*------------------ End of work desc and link sytling ---------*/



/* ------Start of Footer Styling------ */

.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 6.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contactlinks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}


.contact-link a {
  padding-bottom: 0.45em;
  text-decoration: none;
  color: #333333;
  font-size: 0.67em;
  font-weight: 500;
  font-family: 'work sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #FFFFFF;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.contact-link a:hover {
  border-bottom: 1px solid #DA9218;
}




.site-credit {
  font-weight: 300;
  color: #999999;
  font-size: 1em;
  margin-top: 1em;
}

.typography-credit {
  font-family: 'work sans', sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  padding-top: 2em;
  color: #999999;
}

/* ------End of Footer Styling------ */

/*greyzone*/
@media only screen and (min-width:1281px) {
  .container {
    /* border: 1px solid grey; */
    margin: auto;
  }
}

/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .container {
    border: 1px solid blue;
  } */
  main {
    margin: 0em 8em;
  }
  .hero h3 {
    font-size: 1em;
  }

}

/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
    border: 1px solid red;
  } */

  main {
    margin: 0em 4em;
  }
  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 34px;
    width: 54.58px;
  }

  /* controls p in main*/
  main p {
    font-size: 1em;
    line-height: 1.5em;
  }
  /* controls p in main*/

  .navmenu {
    margin-top: 1.34em;
    padding: 1.33em 2.67em;
  }
  .hero {
    padding-top: 2.67em;
    padding-left: 2.67em;
    padding-right: 2.67em;
  }
  .hero h3 {
    font-size: 1em;
  }
  .hero h1 {
    font-size: 3em;
  }
  .hero {
    padding-top: 8em;
  }
  .hero a {
    border-bottom: 1px solid #D5DBE5;
    transition: all .2s cubic-bezier(0,0,.58,1);
  }
  .hero a:hover {
    border-bottom: 1px solid #DA9218;
  }
  .label-section {
    font-size: 2.67em;
  }
}

/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* .container {
    border: 1px solid green;
  } */

  main {
    margin: 0em 1.33em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
    /* margin-bottom: 1.75em; */
  }


  /* controls p in main*/
  main p {
    font-size: 1em;
    line-height: 1.5em;
  }
  /* controls p in main*/

  .work-heading {
    font-family: 'eczar', serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 1em;
  }

.navmenu {
    /* border: 1px solid #BDBDBD; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding: 2em 2em;
  }

  .hero h3 {
    font-size: 0.9em;
  }
  .hero h1 {
    font-size: 2.19em;
  }
  .hero {
    padding-top: 6em;
    /* only instance of added padding-left and padding-right for hero text */
    padding-left: 2em;
    padding-right: 2em;
  }
  .hero a {
    border-bottom: 1px solid #D5DBE5;
    transition: all .2s cubic-bezier(0,0,.58,1);
  }
  .hero a:hover {
    border-bottom: 1px solid #DA9218;
  }
  .label-section {
    font-size: 2em;
  }
  .workdesc {
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
  }
  .workdesc > p, .studiodesc > p {
    font-size: 1em;
  }
  .workdesc .desc1 {
    width: 100%;
  }
  .workdesc .desc2 {
    margin-top: 0em;
    width: 100%;
    max-width: 480px;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site-credit {
    text-align: center;
  }

}

/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {
  /* .container {
    border: 1px solid pink;
  } */
  main {
    margin: 0em 1em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
    margin-bottom: 1.5em;
  }

  /* controls p in main*/
  main p {
    font-size: 1em;
    line-height: 1.5em;
  }
  /* controls p in main*/

  .work-heading {
    font-family: 'eczar', serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 1em;
  }


  .navmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0em;
    padding-left: 1em;
    padding-top: 1em;
  }
  .nav-main {
    margin-top: 4em;
  }
  .hero {
    padding-top: 0em;
    padding-left: 1em;
    padding-top: 1em;
  }


  .hero h3 {
    font-size: 0.9em;
    padding-top: 0.33em;
  }
  .hero h1 {
    font-family: 'eczar', 'georgia', serif;
    font-size: 1.67em;
  }

  .hero a {
    border-bottom: 1px solid #D5DBE5;
    transition: all .2s cubic-bezier(0,0,.58,1);
  }
  .hero a:hover {
    border-bottom: 1px solid #DA9218;
  }
  .label-container {
    text-align: left;
  }
  .label-section {
    font-size: 2em;
  }
  .workdesc {
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
  }
  .workdesc > p, .studiodesc > p {
    font-size: 1em;
  }
  .workdesc .desc1 {
    width: 100%;
  }
  .workdesc .desc2 {
    margin-top: 0em;
    width: 100%;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .studiodesc {
    width: 100%;
  }
  .site-credit {
    text-align: center;
  }
}
