*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  /* border: 8px solid #EDE3E4; */
}
main {
  margin: 0em 8em;
}


/* Start of typography sizes */
html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  color: #333333;
  font-family: 'alegreya','georgia', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  /* max-width: 560px; */
}
h1, .h1 {
  font-family: 'work sans', sans-serif;
  font-weight: 500;
  font-size: 2.83333333em;
  line-height: 1.05882353em;
  margin-top: 0.52941176em;
  margin-bottom: 1.05882352em;
}
h2, .h2 {
  font-family: 'alegreya','georgia', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'alegreya','georgia', serif;
  font-size: 1.38888889em;
  line-height: 2.16em;
  margin-top: 1.08em;
  margin-bottom: 0.44em;
}
h4, .h4 {
  font-family: 'alegreya','georgia', serif;
  font-size: 1.22em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* End of typography sizes */


/*------- Start of logo and nav styling -------*/
header {
  /* border: 1px solid #BDBDBD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.67em;
  padding: 1.33em 4em;
}
.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 32px;
  width: 50.67px;
}
.nav-main {
  /* border: 1px solid red; */
  width: 240px;
}
.menu {
  /* border-bottom: 1px solid #E6E6E6; */
  margin-bottom: 0em;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  /* border: 1px solid red; */
  padding-bottom: 0.45em;
  text-decoration: none;
  color: #333333;
  font-size: 0.67em;
  font-weight: 500;
  font-family: 'work sans', sans-serif;
}
.menu a:hover {
  border-bottom: 1px solid #DA9218;
}
/*------- End of logo and nav styling -------*/


/* ------Start of Label Styling------ */
.label-container {
  text-align: center;
}
.label-section {
  margin-top: 4em;
  margin-bottom: 0em;
  padding-bottom: 0.5em;
  display: inline-block;
  /* border-bottom: 1px solid #DA9218;
  box-shadow: inset 0 -1px 0 #DA9218; */
}
/* ------End of Label Styling------ */



/* ------Start of Hero Styling------ */
.hero {
  padding-top: 8em;
}
.hero h1 {
  font-family: 'bitter', 'georgia', serif;
  font-size: 2.67em;
  line-height: 1.5em;
}
.hero h3 {
  line-height: 1.5em;
}
.hero h3 span {
  color: #828282;
}
.hero a {
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #DA9218;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.hero a:hover {
  box-shadow: inset 0 -6px 0 #DA9218;
}
/* ------End of Hero Styling------ */



/* ------Start of Work Styling------ */
.workcover, .studiocover {
  padding-top: 3em;
  width: 100%;
}
.studiocover, .studiodesc {
  width: 66%;
}
.workdesc a, .studiodesc a {
  padding-bottom: 0.25em;
  font-size: 1em;
  font-weight:400;
  text-decoration: none;
  color: #333333;
  box-shadow: inset 0 -1px 0 #DA9218;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.workdesc a:hover, .studiodesc a:hover {
  box-shadow: inset 0 -6px 0 #DA9218;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.workdesc {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}
.workdesc .desc1 {
  width: 33%;
}
.workdesc .desc2 {
  width: 66%;
  color: #4F4F4F;
}
.studiodesc p {
  color:#333333;
}
.work-scope {
  font-size: .9em;
  font-style: italic;
  color: #333333;
}
/* ------End of Work Styling------ */



/* ------Start of Footer Styling------ */
.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 6.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contactlinks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  margin-bottom: 0em;
  font-size: .9em;
  font-weight:400;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #DA9218;
}
.contact-link a:hover {
  color: #BDBDBD;
}
.site-credit {
  font-weight: 300;
  color: #BDBDBD;
  font-size: 0.9em;
  margin-top: 1em;
}
/* ------End of Footer Styling------ */


@media only screen and (min-width:1281px) {
  .container {
    /* border: 1px solid grey; */
    margin: auto;
  }
}

/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .container {
    border: 1px solid blue;
  } */
  main {
    margin: 0em 5em;
  }
  .hero h3 {
    font-size: 1em;
  }
}

/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
    border: 1px solid red;
  } */
  main {
    margin: 0em 5em;
  }
  header {
    margin-top: 1.34em;
    padding: 1.33em 2.67em;
  }
  .hero h3 {
    font-size: 1em;
  }
  .hero h1 {
    font-size: 2em;
  }
  .hero {
    padding-top: 8em;
  }
  .label-section {
    margin-top: 4em;
    margin-bottom: 0em;
    font-size: 2.67em;
  }
  .workdesc {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  .workdesc .desc1 {
    width: 100%;
  }
  .workdesc .desc2 {
    margin-top: 1.78em;
    width: 100%;
  }
}

/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* .container {
    border: 1px solid green;
  } */
  main {
    margin: 0em 1.33em;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding-top: 2.67em;
  }
  .ralogo {
    margin-bottom: 1.75em;
  }
  .hero h3 {
    font-size: 0.9em;
  }
  .hero h1 {
    font-size: 1.67em;
  }
  .hero {
    padding-top: 2em;
    /* only instance of added padding-left and padding-right for hero text */
    padding-left: 1em;
    padding-right: 1em;
  }
  .label-section {
    display: block;
    margin-top: 4em;
    margin-bottom: 0em;
    font-size: 2em;
  }
  .workcover {
    padding-top: 3em;
    width: 100%;
  }
  .workdesc {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  .workdesc .desc1 {
    width: 100%;
  }
  .workdesc .desc2 {
    margin-top: 1.78em;
    width: 100%;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .label-section {
    margin-top: 4em;
    margin-bottom: 0em;
    padding-bottom: 0.5em;
    display: inline-block;
  }
  .workdesc p, .studiodesc p {
    font-size: 0.95em;
  }
}

/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {
  /* .container {
    border: 1px solid pink;
  } */
  main {
    margin: 0em 1.33em;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    padding-top: 2.67em;
  }
  .ralogo {
    margin-bottom: 1.75em;
  }
  .hero h3 {
    font-size: 1em;
  }
  .hero h1 {
    font-family: 'alegreya', 'georgia', serif;
    font-size: 1em;
  }
  .hero {
    padding-top: 2em;
  }
  p {
    font-size: .9em;
  }
  .label-section {
    margin-top: 4em;
    margin-bottom: 0em;
    font-size: 2em;
  }
  .workdesc {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .workdesc .desc1 {
    width: 100%;
  }
  .workdesc .desc2 {
    margin-top: 1.78em;
    width: 100%;
  }
  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .label-section {
    margin-top: 4em;
    margin-bottom: 0em;
    padding-bottom: 0.5em;
    display: inline-block;
  }
  .workdesc p, .studiodesc p {
    font-size: 0.95em;
  }
  .studiocover {
    width: 100%;
  }
  .studiodesc {
    width: 100%;
  }
  .hero a:hover {
    box-shadow: inset 0 -4px 0 #DA9218;
  }
}
