/*--------------------------------------Start of identical to master.css */


*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
}
main, .main {
  margin: 0em 8em;
  padding-top: 2em;
  /* border: 1px solid red; */
}



/* ------Start of typography sizes------ */

html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  background-color: #FBFBFB;
  color: #333333;
  font-family: 'calluna-sans',sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
h1, .h1 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 4.22222222em;
  line-height: 1.14473684em;
  margin-top: 0.38157895em;
  margin-bottom: 0em;
}
h2, .h2 {
  font-family: 'jaf-lapture-display','georgia', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-family: 'jaf-lapture-display', serif;
  font-weight: 400;
  font-size: 1.38888889em;
  line-height: 1.4em;
  margin-top: 1.08em;
  margin-bottom: 0.75em;
}
h4, .h4 {
  font-family: 'calluna-sans', sans-serif;
  font-weight: 400;
  font-size: 1.22em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.44em;
}
h5, .h5 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1em;
  font-weight: 300;
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  padding-top: 4em;
  font-size: .9em;
  margin-top: 1em;
  margin-bottom: 2em;
}
.credits {
  font-size: .9em;
  text-align: center;
  font-style: normal;
  color: #828282;
}
.studioLabel {
  margin-top: 4em;
  font-size: 0.78em;
  font-weight: 400;
  text-transform: uppercase;
  border-top: 1px solid #E2E2E2;
  padding-top: 0.5em;
}

/* ------End of typography sizes------ */




/* ------Start of CSS Grid Styling------ */



.studioImageGrid-bottomalign,
.studioDescGrid,
.studioImageGrid-centeralign {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 48px;
}



.studioImageGrid-centeralign > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.studioImageGrid-centeralign > div > img {
  /* Ensures image top and bottom align in height */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.studioImageGrid-bottomalign > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.studioImageGrid-bottomalign > div > img {
  width: 100%;
  object-fit: contain;
}



.span1 {
  font-family: 'calluna', serif;
  font-style: italic;
  margin-top: 2.67em;
  grid-column: span 1;
  vertical-align: bottom;
}
.span2 {
  margin-top: 2.67em;
  grid-column: span 2;
}
.span1-skip1col {
  margin-top: 2.67em;
  grid-column-start: -2;
  vertical-align: bottom;
}




/* ------End of CSS Grid Styling------ */





/* ------Start of Footer Styling------ */


.footer-container {
  /* background-color: #F4F4F4; */
}

footer {
  margin-top: 2.67em;
  border-top: 0.25px solid #E0E0E0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.contactlinks {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.contact-link a {
  padding-bottom: 0.25em;
  text-decoration: none;
  color: #444444;
  letter-spacing: 0.04em;
  font-size: 0.78em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.contact-link a:hover {
  border-bottom: 1px solid #DA9218;
}


.closing {
  padding-top: 2.67em;
  max-width: 400px;
  margin: auto;
}
.closing h3 {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.35em;
}
.closing p {
  font-style: italic;
  text-align: center;
  font-style: italic;
}


.site-credit {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 0.9em;
  margin-top: 1em;
}
.typography-credit {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  text-transform: uppercase;
  padding-top: 2em;
  color: #999999;
}
/* ------End of Footer Styling------ */



/*-------------------------------------------End of identical to master.css */









/*-------------------------------------------Start of header styling -------*/




/*------- Start of nav styling -------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0em 4em;   /*Match main's margin*/
}

.ralogo {
  background: url(../assets/homepage/ra-logo32h.svg) center / cover;
  height: 38px;
  width: 61px;
}




/*--Start of Sticky Navbar class--*/
.sticky {
  position: fixed;
  transition-property: background;
  transition-duration: 1s;
  background-color: rgba(251,251,251,.99);
  border-bottom: 1px solid #E2E2E2;
  height: 4em;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  padding: 0em 4em;   /*Match main's margin*/
}
/*---End of Sticky Navbar class--*/



.navmenu {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}


.nav-project {
  text-align: right;
}
.nav-prevcs {
  text-align: left;
  margin-right: 0.2em;
}
.nav-nextcs {
  text-align: right;
  margin-left: 0.2em;
}

.nav-prevcs, .nav-nextcs {
  padding-bottom: 0.2em;
  text-decoration: none;
  color: #777777;
  font-size: 0.67em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}


.nav-prevcs:hover, .nav-nextcs:hover {
  border-bottom: 1px solid #DA9218;
}


.nav-home, .nav-project {
  width: 22%;
}


.nav-studio {
  font-family: 'jaf-lapture-display', serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0em 0em;
  width: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------- End of nav styling -------*/









/*------- Start of text and image styling -------*/




/* controls font-size and line height of p*/
p {
  font-size: 1.1em;
  line-height: 1.5em;
}
.p-italic {
  margin-top: 2.67em;
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
}
/* controls font-size and line height of p*/



.link-ref {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #BDBDBD;
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-ref:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.link-doc {
  color: #333333;
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: inset 0 -1px 0 #BDBDBD;
  transition: box-shadow .2s cubic-bezier(0,0,.58,1);
}
.link-doc:hover {
  color: #828282;
}
.link-work {
  padding-bottom: 0.15em;
  text-decoration: none;
  color: #333333;
  font-size: 0.78em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s cubic-bezier(0,0,.58,1);
}
.link-work:hover {
  border-bottom: 1px solid #DA9218;
}



/* Start of project carousel */
.carousel-caption {
  text-align: center;
}
.projectCarouselContainer{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.projectCarousel-left {
  width: 40%;
}
.projectCarousel-right {
  width: 40%;
  text-align: right;
}
.cs-sectionCarousel {
  padding-top: 2em;
  padding-bottom: 4em;
}
.cs-sectionCarousel p {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 0.25em;
  font-size: .9em;
  font-weight: 400;
}
/* End of project carousel */





/*------- End of text and image styling -------*/




/*--------------------------------------------End of section styling -------*/




/* greyzone */
@media only screen and (min-width:1281px) {

  .container {
    margin: auto;
    /* border: 1px solid grey; */
  }
  nav {
    padding-left: 4em; /*Match main's margin*/
    padding-right: 4em; /*Match main's margin*/
    padding-top: 5em;
  }
  .sticky {
    padding: 0 4em;  /*Match 'main' margin*/
  }
}





/*bluezone*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* .container {
  border: 2px solid blue;
  } */
  main, .main {
    margin: 0em 8em;
  }
  nav {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4.95em;
  }
  .sticky {
    padding: 0 4em;
  }
}




/*redzone*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* .container {
  border: 2px solid red;
  } */

  main, .main {
    margin: 0em 4em;
  }
  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 34px;
    width: 54.58px;
  }
  nav {
    padding-left: 2.67em;
    padding-left: 2.67em;
    padding-top: 3.2em;
  }
  .sticky {
    padding: 0em 2.67em;
  }

  .nav-studio {
    font-size: 1em;
  }


  /* controls font-size and line height of p in .cs-section*/
  p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/


  /* Start of project carousel */
  .projectCarousel-left {
    width: 45%;
  }
  .projectCarousel-right {
    width: 45%;
    text-align: right;
  }
  /* End of project carousel */


  /* Controls .studioImageGrid */
  .studioImageGrid-bottomalign,
  .studioDescGrid,
  .studioImageGrid-centeralign {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  .span2 {
    margin-top: 1.33em;
  }
  .span1-skip1col {
    grid-column-start: 1;
  }
  /* Controls .studioImageGrid */


}



/*greenzone*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* .container {
  border: 2px solid green;
  } */

  main, .main {
    padding-top: 0em;
    margin: 0em 1.33em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
  }

  nav {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.7em;
  }

  .sticky {
    padding: 0 2.67em;  /*Match 'main' margin*/
  }


  .nav-home, .nav-project {
    width: 40%;
  }
  .nav-studio {
    width: 20%
    font-size: 1em;
  }



  /* controls font-size and line height of p in .cs-section*/
  p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1.05em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/

  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* type size reduction for mobile*/
  .cs-section > h2 {
    font-size: 1.4em;
    line-height: 1.5em;
  }
  .cs-section > h3 {
    font-size: 1.28em;
    line-height: 1.4em;
  }
  .cs-section > h4 {
    font-size: 1em;
    line-height: 1em;
  }
  /* type size reduction for mobile*/


  /* Start of project carousel */
  .carousel-caption {
    text-align: center;
  }
  .projectCarousel-left, .projectCarousel-right {
    width: 40%;
  }
  /* End of project carousel */

  /* Controls .studioImageGrid */
  .studioImageGrid-bottomalign,
  .studioDescGrid,
  .studioImageGrid-centeralign {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  .span2 {
    margin-top: 1.33em;
  }
  .span1-skip1col {
    grid-column-start: 1;
  }
  /* Controls .studioImageGrid */


  /* Controls .studioImageGrid */
  .studioImageGrid-bottomalign,
  .studioDescGrid,
  .studioImageGrid-centeralign {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  .span2 {
    margin-top: 1.33em;
  }
  .span1-skip1col {
    grid-column-start: 1;
  }
  /* Controls .studioImageGrid */

  .site-credit {
    text-align: center;
  }
}




/*purplezone*/
@media only screen and (min-width: 280px) and (max-width: 479px) {

  /* .container {
  border: 2px solid pink;
  } */

  main, .main {
    padding-top: 0em;
    margin: 0em 1em;
  }

  .ralogo {
    background: url(../assets/homepage/ra-logo32h.svg) center / cover;
    height: 30px;
    width: 48.16px;
  }

  nav {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
  }

  .sticky {
    padding: 0 1em;  /*Match 'main' margin*/
  }


  .nav-home, .nav-project {
    width: 50%;
  }
  .nav-studio {
    display: none;
  }



  footer {
    align-items: center;
  }
  .contact {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .nav-project {
    width: 50%;
  }


  /* controls font-size and line height of p in .cs-section*/
  p {
    font-size: 1.05em;
    line-height: 1.45em;
  }
  .p-italic {
    font-size: 1em;
    line-height: 1.45em;
    font-style: italic;
  }
  /* controls font-size and line height of p*/


  /* type size reduction for mobile*/
  .cs-section > h2 {
    font-size: 1.4em;
    line-height: 1.5em;
  }
  .cs-section > h3 {
    font-size: 1.28em;
    line-height: 1.4em;
  }
  .cs-section > h4 {
    font-size: 1em;
    line-height: 1em;
  }
  /* type size reduction for mobile*/



  /* Start of project carousel */
  .carousel-caption {
    text-align: center;
  }
  .projectCarouselContainer{
    margin-top: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .projectCarousel-left, .projectCarousel-right {
    width: 80%;
    margin-left: 10%;
  }
  .projectCarousel-right {
    margin-top: 2em;
  }
  /* End of project carousel */



  /* Controls .studioImageGrid */
  .studioImageGrid-bottomalign,
  .studioDescGrid,
  .studioImageGrid-centeralign {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
  }
  .span1, .span2 {
    margin-top: 1.67em;
    grid-column: span 1;
  }
  .span1-skip1col {
    grid-column-start: 1;
  }
  /* Controls .studioImageGrid */


  .site-credit {
    text-align: center;
  }
}
